@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Artifika|Cinzel+Decorative|Fanwood+Text|Fredericka+the+Great|Fugaz+One|Germania+One|Graduate|Grand+Hotel|IM+Fell+Double+Pica|Montserrat|Slabo+27px|Source+Sans+Pro');
@import 'normalize.css';

html, body {
	font-family: 'Artifika', serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

.modal {
    background-color: inherit;
	max-height: initial;
    width: initial;
}

.flashMessage {
	background: darkcyan;
    color: wheat;
    position: fixed;
    z-index: 20;
    padding: 20px;
    border-radius: 10px;
    top: -150px;
    left: 40%;
    width: 25%;
}

.contactList:nth-of-type(odd) > div {
    background: antiquewhite;
}

.propertyList:nth-of-type(odd) > div {
    background: chocolate;
    color: whitesmoke;
}

.aboutUsBlurb {
	font-size: 135%;
}

input.form-control {
    margin-top: 0;
}

#home_carousel {
    margin: 0px 0px 50px;
}

#addt_service_transition {
	background-repeat: no-repeat !important;
    background-position: 100% 125% !important;
    background-size: 100% 100% !important;
	background-attachment: fixed;
	background-image: url('/images/office_guy.jpg');
	margin-left: -15px;
	margin-right: -15px;
	min-height: 500px;
}

#addt_service_list {
	max-width: -moz-fit-content;
	max-width: fit-content; 
	list-style-image: url(/images/checkmark-green-small.png);
}

.contactUsJumbotron, .loginJumbotron, .aboutUsJumbotron, .propertiesJumbotron, .contactsJumbotron {
	background-repeat: no-repeat !important;
    background-position: 100% 125% !important;
    background-size: 100% 100% !important;
	margin-left: 0px;
	margin-right: 0px;
	min-height: 500px;
}

.contactUsJumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)), url(/images/contact_us_page.jpg);
}

.aboutUsJumbotron, .loginJumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)), url(/images/about_us_page.jpg);
}
.propertiesJumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)), url(/images/properties_page.jpg);
}

.contactsJumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)), url(/images/contacts_page.jpg);
}

div.carousel-image {
	width: 100%;
	height: 500px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}

.carousel-inner {
    position: unset;
}

.carousel .carousel-item {
    width: inherit;
    height: inherit;
}

.featuredHeader {
	border-top: dashed 5px;
	border-bottom: dashed 5px;
}

.deleteDivider {
    border-bottom: dashed 2px black;
    margin: 50px 0px;
    width: 100%;
}

.media-modal-item {
	max-height: 200px;
	height: 200px;
	max-width: 200px;
	width: 200px;
}

.showcaseProps img {
	width: 500px; 
	height: 500px;
}

.propertyImgGallery .heroImg img {
	height: 500px;
	width: 100%;
	position: relative;
}

.propertyImgGallery .imgGallery img {
	height: 100px;
	width: 100px;
	opacity: 0.5;
}

.propertyImgGallery .imgGallery img.active {
	border: solid 1px blue;
	opacity: 1;
}

nav {
	background: white;
	min-height: 100px;
    /* margin:0px -15px; */
	padding: 0 15px;
	width: -webkit-fill-available;
}

a.navbar-brand, a.brand-logo {
    background: url(/images/jrh_logo.png);
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center center;
    padding: 0% 10%;
	color: transparent;
	width: 125px;
}

a.nav-link.activeNav {
    background: linear-gradient(black, #41372d ,white);
    color: white !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.instagramPhoto {
	max-height: 400px;
	max-width: 350px;
}

.removeImage {
	position: absolute;
    top: 0;
    right: 0;
	height: 25px;
	width: 25px;
    background: url(/images/x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.row.faq div:nth-of-type(odd):not(:last-of-type) {
    background: #868e5a;
	color: antiquewhite;
}

footer {
}

footer .registerNCopyright {
	font-size: 50%;
}

#social_div a {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 2%;
}

@media (max-width: 576px) {
	#home_carousel {
		height: 500px !important;
	}
	
	.flashMessage {
		width: 75%;
		left: 13.5%;
	}
	
	.contactUsJumbotron, .aboutUsJumbotron, .propertiesJumbotron, .contactsJumbotron {
		max-height: 350px;
	}
	
	.loginJumbotron {
		max-height: initial;
		min-height: initial;
	}
	
	.jumbotron h2 {
		font-size: 2.5em;
	}
	
	.showcaseProps:nth-of-type(odd) {
		/* background: linear-gradient(#135feb, #ebf1fb, #ebf1fb); */
	}
	
	.showcaseProps img {
		width: 300px; 
		height: 250px;
	}
	
	#addt_service_transition {
		min-height: 350px;
	}
	
	#addt_service_transition {
		background-repeat: no-repeat !important;
		background-position: 100% 100% !important;
		background-size: 100% 100% !important;
		background-attachment: initial;
	}
	
	#addt_service_list {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}
	
	#social_div a {
		padding: 5%;
	}
	
	a.brand-logo {
		padding: 25px;
		font-size: 700%;
	}
	
	nav .button-collapse i {
		line-height: 100px;
	}
	
	.input-group .input-group-addon {
		font-size: 75% !important;
	}
	
	.btn-group.tenantProp {
		max-width: 100%;
	}
	
	.btn-group.tenantProp select {
		max-width: 100%;
	}

}

@media (max-width: 600px) {
	/* nav { */
		/* position: fixed; */
		/* z-index: 10; */
		/* margin: 0px; */
	/* } */
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}