@import 'normalize.css';

html, body {
	font-family: 'Acme', sans-serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

form .form-group *, a.btn, input.btn, button.btn, button {
	font-size: 25px !important;
} 

form .form-group .input-group-addon {
	margin-top: 0.3%;
}

#home_carousel {
    margin: 0px -15px 50px;
}

div.carousel-image {
	width: 100%;
	height: 500px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}

.featuredHeader {
	border-top: dashed 5px;
	border-bottom: dashed 5px;
}

.deleteDivider {
    border-bottom: dashed 2px black;
    margin: 50px 25px;
    width: 100%;
}

.media-modal-item {
	max-height: 200px;
	height: 200px;
	max-width: 200px;
	width: 200px;
}

nav {
	background: white;
	height: 100px;
    margin:0px -15px;
	padding: 0 15px;
}

a.navbar-brand {
    background: url(/images/jrh_logo.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center center;
    padding: 0% 10%;
	color: transparent;
	font-size: 100%;
}

.instagramPhoto {
	max-height: 300px;
	max-width: 300px;
}

footer {
}

footer .registerNCopyright {
	font-size: 50%;
}

#social_div {
    text-align: center;
}

#social_div a {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 2%;
}

#social_div ul li:first-of-type {
}

@media (max-width: 576px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}