@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Artifika|Cinzel+Decorative|Fanwood+Text|Fredericka+the+Great|Fugaz+One|Germania+One|Graduate|Grand+Hotel|IM+Fell+Double+Pica|Montserrat|Slabo+27px|Source+Sans+Pro');
@import 'normalize.css';

html, body {
	font-family: 'Artifika', serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

.modal {
    background-color: inherit;	
}

.flashMessage {
	background: darkcyan;
    color: wheat;
    position: fixed;
    z-index: 20;
    padding: 20px;
    border-radius: 10px;
    top: -150px;
    left: 40%;
    width: 25%;
}

form .form-group *, a.btn, input.btn, button.btn, button {
	font-size: 25px !important;
} 

form .form-group .input-group-addon {
	margin-top: 0.3%;
}

#home_carousel {
    margin: 0px 0px 50px;
}

#addt_service_transition {
	background-repeat: no-repeat !important;
    background-position: 100% 125% !important;
    background-size: 100% 100% !important;
	background-attachment: fixed;
	background-image: url('/images/office_guy.jpg');
	margin-left: -15px;
	margin-right: -15px;
	min-height: 500px;
}

.contactUsJumbotron, .loginJumbotron, .aboutUsJumbotron, .propertiesJumbotron, .contactsJumbotron {
	background-repeat: no-repeat !important;
    background-position: 100% 125% !important;
    background-size: 100% 100% !important;
	margin-left: 0px;
	margin-right: 0px;
	min-height: 500px;
}

.contactUsJumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)), url(/images/contact_us_page.jpg);
}

.aboutUsJumbotron, .loginJumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)), url(/images/about_us_page.jpg);
}
.propertiesJumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)), url(/images/properties_page.jpg);
}

.contactsJumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)), url(/images/contacts_page.jpg);
}

div.carousel-image {
	width: 100%;
	height: 500px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}

.carousel-inner {
    position: unset;
}

.carousel .carousel-item {
    width: inherit;
    height: inherit;
}

.featuredHeader {
	border-top: dashed 5px;
	border-bottom: dashed 5px;
}

.deleteDivider {
    border-bottom: dashed 2px black;
    margin: 50px 25px;
    width: 100%;
}

.media-modal-item {
	max-height: 200px;
	height: 200px;
	max-width: 200px;
	width: 200px;
}

.showcaseProps img {
	width: 500px; 
	height: 500px;
}

.propertyImgGallery .heroImg img {
	height: 500px;
	width: 100%;
	position: relative;
}

.propertyImgGallery .imgGallery img {
	height: 100px;
	width: 100px;
	opacity: 0.5;
}

.propertyImgGallery .imgGallery img.active {
	border: solid 1px blue;
	opacity: 1;
}

nav {
	background: white;
	height: 100px;
    margin:0px -15px;
	padding: 0 15px;
	width: -webkit-fill-available;
}

a.navbar-brand, a.brand-logo {
    background: url(/images/jrh_logo.png);
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center center;
    padding: 0% 10%;
	color: transparent;
	font-size: 100%;
}

.instagramPhoto {
	max-height: 300px;
	max-width: 300px;
}

.row.faq div:nth-of-type(odd):not(:last-of-type) {
    background: #868e5a;
	color: antiquewhite;
}

footer {
}

footer .registerNCopyright {
	font-size: 50%;
}

#social_div {
    text-align: center;
}

#social_div a {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 2%;
}

#social_div ul li:first-of-type {
}

@media (max-width: 576px) {
	#home_carousel {
		height: 500px !important;
	}
	
	#sidenav-overlay {
		z-index: initial;
	}
	
	a.navbar-brand, a.brand-logo {
		/* background: url(/images/jrh_logo_white.png); */
}

	nav {
		position: fixed;
		z-index: 10;
		margin: 0px;
		width: -webkit-fill-available;
		width: 100%;
	}
	
	.contactUsJumbotron, .aboutUsJumbotron, .propertiesJumbotron, .contactsJumbotron {
		max-height: 350px;
	}
	
	.loginJumbotron {
		max-height: initial;
		min-height: initial;
	}
	
	.jumbotron h2 {
		font-size: 2.5em;
	}
	
	.showcaseProps:nth-of-type(odd) {
		background: linear-gradient(#135feb, #ebf1fb, #ebf1fb);
	}
	
	.showcaseProps img {
		width: 300px; 
		height: 250px;
	}
	
	#addt_service_transition {
		min-height: 350px;
	}
	
	#addt_service_transition:after {
		content: "";
		background: url(/images/office_guy.jpg);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	#addt_service_list {
		margin-left: -15px !important;
		margin-right: -15px !important;
	}
	
	#social_div a {
		padding: 5%;
	}
	
	a.brand-logo {
		padding: 25px;
		font-size: 700%;
	}
	
	a.btn {
		padding-bottom: 40px;
	}
	
	nav .button-collapse i {
		line-height: 100px;
	}
}

@media (max-width: 600px) {
	/* nav { */
		/* position: fixed; */
		/* z-index: 10; */
		/* margin: 0px; */
	/* } */
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}